{% extends '_layout/_base.html' %}
{% block head %}
    <style>
        .form_container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        a {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .btn {
            display: flex;
            justify-content: center;
            text-align: center;
        }

    </style>
{% endblock %}
{% block main %}
    <div class="container form_container">
        <form method="POST" id="form_login">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <a href="{% url 'admin_password_reset' %}">Forget Password ? Reset It !</a>
            <br>
            <a href="{% url 'register' %}">Don't Have Account ? SignUp</a>
            <br>
            <input type="submit" class="btn btn-primary" id="submit_btn" value="Submit">
        </form>
    </div>
{% endblock %}
