{% extends '_layout/_base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'customers/css/profile.css' %}">
{% endblock %}
{% block main %}
    <form method="POST">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5"
                            width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">{{ userInfo.user.username }}</span><span
                            class="text-black-50">{{ userInfo.user.email }}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">{% trans 'Profile Settings' %}</h4>
                        </div>
                        <div class="row mt-2">
                            {% if userInfo.user.first_name %}
                                <div class="col-md-6"><label class="labels">{% trans 'Name' %}</label><input type="text"
                                                                                                             class="form-control"
                                                                                                             placeholder="{{ userInfo.user.first_name }}"
                                                                                                             value="{{ userInfo.user.first_name }}"
                                                                                                             name="first_name">
                                </div>
                            {% else %}
                                <div class="col-md-6"><label class="labels">{% trans 'Name' %}</label><input type="text"
                                                                                                             class="form-control"
                                                                                                             placeholder="First Name"
                                                                                                             value=""
                                                                                                             name="first_name">
                                </div>
                            {% endif %}
                            {% if userInfo.user.last_name %}
                                <div class="col-md-6"><label class="labels">{% trans 'Surname' %}</label><input
                                        type="text"
                                        class="form-control"
                                        value="{{ userInfo.user.last_name }}"
                                        placeholder="{{ userInfo.user.last_name }}"
                                        name="last_name">
                                </div>
                            {% else %}
                                <div class="col-md-6"><label class="labels">{% trans 'Surname' %}</label><input
                                        type="text"
                                        class="form-control"
                                        value=""
                                        placeholder="surname"
                                        name="last_name">
                                </div>
                            {% endif %}

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">{% trans 'Mobile Number' %}</label><input
                                    type="text"
                                    class="form-control"
                                    placeholder="{{ userInfo.user.phone }}"
                                    value="{{ userInfo.user.phone }}"
                                    name="phone"
                                    readonly></div>
                            <div class="col-md-12"><label class="labels">{% trans 'Default Address' %}</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="default_address">
                                    {% if userInfo.default_address %}
                                        <option value="{{ userInfo.default_address.id }}">{{ userInfo.default_address.state }}
                                            | {{ userInfo.default_address.city }}
                                            | {{ userInfo.default_address.postal_code }}</option>
                                    {% endif %}
                                    {% for address in addresses %}
                                        {% if userInfo.default_address.id != address.id %}
                                            <option value="{{ address.id }}">{{ address.state }} | {{ address.city }}
                                                | {{ address.postal_code }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12"><label class="labels">{% trans 'Postcode' %}</label><input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter Postal Code"
                                    value=""
                                    name="postal_code">
                            </div>
                            <div class="col-md-12"><label class="labels">{% trans 'State' %}</label><input type="text"
                                                                                                           class="form-control"
                                                                                                           placeholder="Enter State"
                                                                                                           value=""
                                                                                                           name="state">
                            </div>
                            <div class="col-md-12"><label class="labels">{% trans 'City' %}</label><input type="text"
                                                                                                          class="form-control"
                                                                                                          placeholder="Enter City"
                                                                                                          value=""
                                                                                                          name="city">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button"
                                    type="submit">{% trans 'Save Profile' %}</button>
                            <a href="{% url 'home' %}">
                                <button class="btn btn-danger profile-button"
                                        type="button">{% trans 'Discard Changes' %}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>{% trans 'Recently Orders' %}</span><a href="{% url 'order_history' %}"
                                                                         style="color: black !important;"><span
                                class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;{% trans 'Full History' %}</span></a></div>
                        <br>
                        {% for order in orders %}

                            <div class="col-md-12"><label class="labels">{% trans 'Order' %} {{ order.id }} |
                                {% trans 'Cost' %} {{ order.get_total_cost }}</label>
                                {% for item in order.order_items.all %}
                                    <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Orders"
                                            value="{{ item }} | {{ order.status }}"
                                            readonly>
                                {% endfor %}
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
