{% extends '_layout/_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'customers/css/profile.css' %}">
{% endblock %}
{% block main %}
    <form method="POST">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5"
                            width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">{{ userInfo.username }}</span><span
                            class="text-black-50">{{ userInfo.email }}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            {% if userInfo.first_name %}
                                <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="{{ userInfo.first_name }}"
                                                                                               value="{{ userInfo.first_name }}"
                                                                                               name="first_name"></div>
                            {% else %}
                                <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="First Name"
                                                                                               value=""
                                                                                               name="first_name"></div>
                            {% endif %}
                            {% if userInfo.last_name %}
                                <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  value="{{ userInfo.last_name }}"
                                                                                                  placeholder="{{ userInfo.last_name }}"
                                                                                                  name="last_name">
                                </div>
                            {% else %}
                                <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  value=""
                                                                                                  placeholder="surname"
                                                                                                  name="last_name">
                                </div>
                            {% endif %}

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                                                                                     class="form-control"
                                                                                                     placeholder="{{ userInfo.phone }}"
                                                                                                     value="{{ userInfo.phone }}"
                                                                                                     name="phone"></div>
                            <div class="col-md-12"><label class="labels">Default Address</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="default_address">
                                    {% for address in addresses %}
                                        <option value="{{ address.id }}">{{ address.state }} | {{ address.city }}
                                            | {{ address.postal_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12"><label class="labels">Postcode</label><input type="text"
                                                                                                class="form-control"
                                                                                                placeholder="Enter Postal Code"
                                                                                                value=""
                                                                                                name="postal_code">
                            </div>
                            <div class="col-md-12"><label class="labels">State</label><input type="text"
                                                                                             class="form-control"
                                                                                             placeholder="Enter State"
                                                                                             value=""
                                                                                             name="state"></div>
                            <div class="col-md-12"><label class="labels">City</label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="Enter City"
                                                                                            value=""
                                                                                            name="city"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                                                                              class="form-control"
                                                                                              placeholder="country"
                                                                                              value=""
                                                                                              name="country_opt"></div>
                            <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                                                                                   class="form-control"
                                                                                                   value=""
                                                                                                   placeholder="state"
                                                                                                   name="state_opt">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div>
                        <br>
                        <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                                                                                                           class="form-control"
                                                                                                           placeholder="experience"
                                                                                                           value="">
                        </div>
                        <br>
                        <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                                                                                                      class="form-control"
                                                                                                      placeholder="additional details"
                                                                                                      value=""></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block category %}
    {% for category in categories %}
        {% if category.parent == None %}
            <li>
                <a href="#{{ category.type }}" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">{{ category.type }}</a>
                <ul class="collapse list-unstyled" id="{{ category.type }}">
                    {% for cat in categories %}
                        {% if cat.parent.type == category.type %}
                            <li>
                                <a href="#">{{ cat.type }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}