{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Ariana' %} | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '_layout/css/cards.css' %}">
    <link rel="stylesheet" href="{% static '_layout/css/navbar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'>
    <style>
        body {
            background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #232f3e) !important;
        }

        a {
            color: white !important;
        }

        a:hover {
            color: black !important;
        }

        #logout:hover {
            background-color: red !important;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 style="text-align: center">{% trans 'Ariana' %}</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">{% trans 'About Us' %}</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">{% trans 'Categories' %}</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for category in categories %}
                            {% if category.parent == None %}
                                <li>
                                    <a href="#{{ category.type }}" data-toggle="collapse"
                                       href="{% url 'category_view' category.id %}" aria-expanded="false"
                                       class="dropdown-toggle">{{ category.type }}</a>
                                    <ul class="collapse list-unstyled" id="{{ category.type }}">
                                        {% for cat in categories %}
                                            {% if cat.parent.type == category.type %}
                                                <li>
                                                    <a href="{% url 'category_view' category.id %} ">{{ cat.type }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">{% trans 'Contact Us' %}</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                {% if not status_logged %}
                    <li>
                        <a href="{% url 'login' %}" class="article">{% trans 'Login/Register' %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'profile' %}" class="article">{{ customer_username }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'home' %}" class="article">{% trans 'Back To Home' %}</a>
                </li>
                {% if status_logged %}
                    <li>
                        <a class="article btn" id="logout">{% trans 'Logout' %}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn"
                            style="background-color: #232f3e; color: white">
                        <i class="fas fa-align-left"></i>
                        <span>{% trans 'Menu' %}</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">

                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#cart"><i class="fas fa-shopping-cart"></i> {% trans 'Cart' %}
                                    (<span
                                            class="total-count"></span>)
                                </button>

                            </li>
                            <li class="nav-item">
                                <button class="clear-cart btn btn-danger"><i
                                        class="fa-solid fa-trash-can"></i> {% trans 'Clear Cart' %}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block main %} {% endblock %}
            <div class="line"></div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Cart' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="show-cart table">

                        </table>
                        <div>Total price: $<span class="total-cart"></span></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" class="btn btn-primary send-order">{% trans 'Order now' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
{% block afterbody %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static '_layout/js/_navbar.js' %}"></script>
    <script src="{% static '_layout/js/order_box.js' %}"></script>
    <script>
        var clicked;
        $(".send-order").click(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": '{{csrf_token}}'}
            });
            let ordersValue = cart
            var json = JSON.stringify(ordersValue);
            $.ajax({
                type: "POST",
                url: "{% url 'order_api' %}",
                data: json,
                contentType: "application/json",
                success: function (msg) {
                    alert("successful !")
                },
                error: function (msg) {
                    alert("At First Please Login :)");
                }
            });
        });
    </script>
    <script>
        var clicked;
        $("#logout").click(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": '{{csrf_token}}'}
            });
            var json = JSON.stringify({"command": "logout"});
            $.ajax({
                type: "POST",
                url: "{% url 'rest_framework:logout' %}",
                data: json,
                contentType: "application/json",
                success: function (msg) {
                    alert("successful !")
                },
                error: function (msg) {
                    alert("At First Please Login :)");
                }
            });
        });
    </script>
{% endblock %}
</html>