{% block category %}
    {% for category in categories %}
        {% if category.parent == None %}
            <li>
                <a href="#{{ category.type }}" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">{{ category.type }}</a>
                <ul class="collapse list-unstyled" id="{{ category.type }}">
                    {% for cat in categories %}
                        {% if cat.parent.type == category.type %}
                            <li>
                                <a href="{% url 'category_view' category.id %} ">{{ cat.type }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}